*{
    padding: 0;
    margin: 0;
    font-family: "Nunito Sans";
}

.body{
    font-family: "Nunito Sans";
}
.sect-visit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#titulo-visit{
    font-weight: bold;
    font-size: 20px;
    padding: 20px 20px 0px 20px;
}
#subt-visit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#favorites{
    color: grey;
}
#separador{
    padding-left: 10px;
    padding-right: 10px;
}
/* .sect-visit{
    position: static ;
} */
.contenedor-cajas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
#cajas{
    margin: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    width: 300px;
    box-shadow: 3px 4px 5px #00000077;
}
.img-cards{
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
}
.texto-cards{
    padding: 10px;
    font-weight: bold;
}
.parrafo-cards{
    font-size: 10px;
    padding: 0px 20px 20px;
}
.botones-cajas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-bottom: 20px;
}
#circulo1{
    position: absolute;
    top: 50%;
    right: 0%;
    background: #677F67;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: -2;
}
#circulo2{
    position: absolute;
    top: 50%;
    right: 75%;
    background: #677F67;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    z-index: -2;
}
.btn-visit{
    background-color: #42aa85;
    color: white;
    height: 30px;
    margin-right: 20px;
    width: 100px;
    border-radius: 5px;
}
.btn-add{
    background-color: white;
    color: #42aa85;
    height: 30px;
    width: 140px;
    border: 2px solid #42aa85;
    border-radius: 5px;
}