.services{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titulo-services{
    font-weight: bold;
    font-size: 20px;
    padding: 20px 20px 0px 20px;
}
#hr1{
    height: 20px;
    border-top-width: 3px;
    width: 85px;
    border-color: #42aa85;
}
#hr2{
    height: 20px;
    border-top-width: 3px;
    width: 50px;
    border-color: #42aa85;
}
.contenido-accom{
    display: flex;
    align-items: center;
}
#img-accom{
    position: relative;
    max-width: 100%;
    left: 10%;
    padding: 20px;
}
.accom{
    position: relative;
    top: 30px;
    right: 10%;
    height: 300px;
    width: 600px;
    padding: 30px;
    background-color: white;
}
.btn-learn{
    background-color: white;
    margin-top: 30px;
    height: 40px;
    width: 140px;
    border: 2px solid #082419;
    border-radius: 5px;
}
.transport{
    position: relative;
    top: 30px;
    left: 10%;
    height: 300px;
    width: 600px;
    padding: 30px;
    background-color: white;
}
.contenido-transport{
    display: flex;
    align-items: center;
}
#img-transport{
    position: relative;
    right: 10%;
    max-width: 100%;
    padding: 50px;
    z-index: -1;
}
